[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
nltk = "*"
spylls = "*"
hanta = "*"
numpy = "*"
flask = "*"
selenium = "*"
requests = "*"
openai = "*"
elevenlabs = "*"
requests-html = "*"

[dev-packages]

[requires]
python_version = "3.12"
